
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
   <a class="navbar-brand" href="#">
    <img src="favicon.ico" alt="Bootstrap" width="30" height="30" style="margin-right: 10px">BuCertification
   </a>
   <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="employees-list" routerLinkActive="active" class="nav-link"> Employee List</a>
    </li>
    <li class="nav-item">
      <a routerLink="save-employee" routerLinkActive="active" class="nav-link"> New Employee</a>
    </li>
    <li class="nav-item">
        <a routerLink="certifications-list" routerLinkActive="active" class="nav-link"> Certification List</a>
    </li>


    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
        Dropdown
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li>


     <div class="navbar-brand">
       <img src="favicon.ico" style="margin-left: 250px"> Profile info
     </div>



  </ul>
 </nav>

 <alert type="sucess">test</alert>

<h1 class="text-center"> {{title}}</h1>
<div class="container">
    <router-outlet></router-outlet>

</div>




